In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

In [32]:
sp500_df = pd.read_csv("sp500_05_17_2023.csv")
sp500_df.head()

,Symbol,Name,Last,Change,%Chg,High,Low,Volume,Time
0,A,Agilent Technologies,127.77,1.48,+1.17%,127.79,125.78,1968100.0,2023-05-17
1,AAL,American Airlines Gp,14.91,0.71,+5.00%,15.01,14.36,34879203.0,2023-05-17
2,AAP,Advance Auto Parts Inc,122.10,4.76,+4.06%,122.73,117.65,1190500.0,2023-05-17
3,AAPL,Apple Inc,172.69,0.62,+0.36%,172.93,170.42,57905102.0,2023-05-17
4,ABBV,Abbvie Inc,143.35,0.06,+0.04%,143.52,140.52,5481900.0,2023-05-17

In [35]:
tickers = sp500_df['Symbol'].tolist()

In [37]:
stock_info = pd.DataFrame(columns=['Ticker', 'Name', 'Sector', 'Market Cap', 'Share Price', 'Revenue', 'Net Income', 'Summary'])
stock_info['Ticker'] = tickers
stock_info['Name'] = sp500_df['Name']
stock_info['Share Price'] = sp500_df['Last']
stock_info.head()

,Ticker,Name,Sector,Market Cap,Share Price,Revenue,Net Income,Summary
0,A,Agilent Technologies,NaN,NaN,127.77,NaN,NaN,NaN
1,AAL,American Airlines Gp,NaN,NaN,14.91,NaN,NaN,NaN
2,AAP,Advance Auto Parts Inc,NaN,NaN,122.10,NaN,NaN,NaN
3,AAPL,Apple Inc,NaN,NaN,172.69,NaN,NaN,NaN
4,ABBV,Abbvie Inc,NaN,NaN,143.35,NaN,NaN,NaN

In [38]:
for i in range(len(tickers)):
    try:
        ticker_info = yf.Ticker(tickers[i]).info
        
        try:
            stock_info['Sector'][i] = ticker_info['sector']
            stock_info['Market Cap'][i] = ticker_info['marketCap']
            stock_info['Revenue'][i] = ticker_info['totalRevenue']
            stock_info['Net Income'][i] = ticker_info['netIncomeToCommon']
            stock_info['Summary'][i] = ticker_info['longBusinessSummary']
        except:
            print(tickers[i], " is missing info on Yahoo Finance")
    except: 
        print(tickers[i], " could not be found on Yahoo Finance")

/var/folders/91/thyh1l157sg66sz8yx_40ld00000gn/T/ipykernel_64329/766777214.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_info['Sector'][i] = ticker_info['sector']
/var/folders/91/thyh1l157sg66sz8yx_40ld00000gn/T/ipykernel_64329/766777214.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_info['Market Cap'][i] = ticker_info['marketCap']
/var/folders/91/thyh1l157sg66sz8yx_40ld00000gn/T/ipykernel_64329/766777214.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_info['Revenue'][i] = ticker_info['totalRevenue']
/var/folders/91/thyh1l157sg66sz8yx_40ld00000gn/T/ipykernel_64329/766777214.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_info['Net Income'][i] = ticker_info['netIncomeToCommon']
/var/folders/91/thyh1l157sg66sz8yx_40ld00000gn/T/ipykernel_64329/766777214.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_info['Summary'][i] = ticker_info['longBusinessSummary']

AEP  revenue could not be found on Yahoo Finance
AEP  net income could not be found on Yahoo Finance
BF.B  sector could not be found on Yahoo Finance
BF.B  market cap could not be found on Yahoo Finance
BF.B  revenue could not be found on Yahoo Finance
BF.B  net income could not be found on Yahoo Finance
BF.B  summary could not be found on Yahoo Finance
BRK.B  sector could not be found on Yahoo Finance
BRK.B  market cap could not be found on Yahoo Finance
BRK.B  revenue could not be found on Yahoo Finance
BRK.B  net income could not be found on Yahoo Finance
BRK.B  summary could not be found on Yahoo Finance
CAT  sector could not be found on Yahoo Finance
CAT  revenue could not be found on Yahoo Finance
CAT  net income could not be found on Yahoo Finance
CAT  summary could not be found on Yahoo Finance
CE  revenue could not be found on Yahoo Finance
CE  net income could not be found on Yahoo Finance
CRL  revenue could not be found on Yahoo Finance
CRL  net income could not be found on Yahoo Finance
DIS  revenue could not be found on Yahoo Finance
DIS  net income could not be found on Yahoo Finance
EA  revenue could not be found on Yahoo Finance
EA  net income could not be found on Yahoo Finance
EVRG  revenue could not be found on Yahoo Finance
EVRG  net income could not be found on Yahoo Finance
GEN  revenue could not be found on Yahoo Finance
GEN  net income could not be found on Yahoo Finance
LNC  revenue could not be found on Yahoo Finance
LNC  net income could not be found on Yahoo Finance
NWS  revenue could not be found on Yahoo Finance
NWS  net income could not be found on Yahoo Finance
NWSA  revenue could not be found on Yahoo Finance
NWSA  net income could not be found on Yahoo Finance
OXY  revenue could not be found on Yahoo Finance
OXY  net income could not be found on Yahoo Finance
WYNN  revenue could not be found on Yahoo Finance
WYNN  net income could not be found on Yahoo Finance
Downloaded from Barchart.com as of 05-17-2023 06:56pm CDT  could not be found on Yahoo Finance

In [42]:
stock_info.dropna()
stock_info.head()

,Ticker,Name,Sector,Market Cap,Share Price,Revenue,Net Income,Summary
0,A,Agilent Technologies,Healthcare,37781843968,127.77,6929999872,1323000064,"Agilent Technologies, Inc. provides applicatio..."
1,AAL,American Airlines Gp,Industrials,9734187008,14.91,52260999168,1772000000,"American Airlines Group Inc., through its subs..."
2,AAP,Advance Auto Parts Inc,Consumer Cyclical,7256854528,122.10,11154721792,501872000,"Advance Auto Parts, Inc. provides automotive r..."
3,AAPL,Apple Inc,Technology,2716189327360,172.69,385095008256,94321000448,"Apple Inc. designs, manufactures, and markets ..."
4,ABBV,Abbvie Inc,Healthcare,252910993408,143.35,56740999168,7542000128,"AbbVie Inc. discovers, develops, manufactures,..."

In [43]:
stock_info.to_csv("stock_info.csv")