In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
sp500_df = pd.read_csv("sp500_stocks.csv")
sp500_df.head()

,Symbol,Name,Last,Change,%Chg,High,Low,Volume,Time
0,A,Agilent Technologies,127.77,1.48,+1.17%,127.79,125.78,1968100,2023-05-17
1,AAL,American Airlines Gp,14.91,0.71,+5.00%,15.01,14.36,34879203,2023-05-17
2,AAP,Advance Auto Parts Inc,122.10,4.76,+4.06%,122.73,117.65,1190500,2023-05-17
3,AAPL,Apple Inc,172.69,0.62,+0.36%,172.93,170.42,57905102,2023-05-17
4,ABBV,Abbvie Inc,143.35,0.06,+0.04%,143.52,140.52,5481900,2023-05-17

In [3]:
tickers = sp500_df['Symbol'].tolist()

In [4]:
stock_info = pd.DataFrame(columns=['ticker', 'name', 'sector', 'market_cap', 'share_price', 'revenue', 'net_income', 'summary'])
stock_info['ticker'] = tickers
stock_info['name'] = sp500_df['Name']
stock_info.head()

,ticker,name,sector,market_cap,share_price,revenue,net_income,summary
0,A,Agilent Technologies,NaN,NaN,NaN,NaN,NaN,NaN
1,AAL,American Airlines Gp,NaN,NaN,NaN,NaN,NaN,NaN
2,AAP,Advance Auto Parts Inc,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,Apple Inc,NaN,NaN,NaN,NaN,NaN,NaN
4,ABBV,Abbvie Inc,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for i in range(len(tickers)):
    try:
        ticker_info = yf.Ticker(tickers[i]).info
        
        try:
            stock_info['sector'][i] = ticker_info['sector']
            stock_info['market_cap'][i] = ticker_info['marketCap']
            stock_info['share_price'][i] = ticker_info['currentPrice']
            stock_info['revenue'][i] = ticker_info['totalRevenue']
            stock_info['net_income'][i] = ticker_info['netIncomeToCommon']
            stock_info['summary'][i] = ticker_info['longBusinessSummary']
        except:
            print(tickers[i], " is missing info on Yahoo Finance")
    except: 
        print(tickers[i], " could not be found on Yahoo Finance")

AEP  is missing info on Yahoo Finance
BF.B  is missing info on Yahoo Finance
BRK.B  is missing info on Yahoo Finance
CAT  is missing info on Yahoo Finance
CRL  is missing info on Yahoo Finance
EVRG  is missing info on Yahoo Finance
GEN  is missing info on Yahoo Finance
HD  is missing info on Yahoo Finance
L  is missing info on Yahoo Finance
LNC  is missing info on Yahoo Finance
NWS  is missing info on Yahoo Finance
NWSA  is missing info on Yahoo Finance
OXY  is missing info on Yahoo Finance

In [6]:
stock_info = stock_info.dropna()
stock_info.head()

,ticker,name,sector,market_cap,share_price,revenue,net_income,summary
0,A,Agilent Technologies,Healthcare,38107115520,128.87,6929999872,1323000064,"Agilent Technologies, Inc. provides applicatio..."
1,AAL,American Airlines Gp,Industrials,9675428864,14.82,52260999168,1772000000,"American Airlines Group Inc., through its subs..."
2,AAP,Advance Auto Parts Inc,Consumer Cyclical,6978110976,117.41,11154721792,501872000,"Advance Auto Parts, Inc. provides automotive r..."
3,AAPL,Apple Inc,Technology,2755039330304,175.16,385095008256,94321000448,"Apple Inc. designs, manufactures, and markets ..."
4,ABBV,Abbvie Inc,Healthcare,256016121856,145.11,56740999168,7542000128,"AbbVie Inc. discovers, develops, manufactures,..."

In [7]:
stock_info.to_csv("stock_info.csv")